<%- include("partials/head") %> <%- include("partials/navbar") %>
<h1>This is the home page! <%= 4 + 5 + 1 %></h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit repellat, nobis
  et quo quam ad expedita necessitatibus libero qui vitae laudantium corrupti
  reprehenderit. Sed atque aspernatur consequatur quaerat recusandae! Dolorum.
</p>
<%- include("partials/footer") %>
