body {
  background-color: #cc99ff;
}

h1 {
  color: red;
  text-align: center;
}

.square {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin: auto;
}

#circle {
  color: darkred;
  font-size: 40px;
}

h2 {
  color: #12fabe;
  text-shadow: 2px 2px 5px black;
}

h3 {
  color: rgb(238, 81, 217);
  text-shadow: 1px 1px 3px darkblue;
}

.container {
  background: linear-gradient(to right, rgb(16, 53, 214), rgb(31, 213, 219));
  box-shadow: 3px 5px 3px black;
}
