<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    <h1>This is the home page! <%= 4 + 5 + 1 %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit repellat,
      nobis et quo quam ad expedita necessitatibus libero qui vitae laudantium
      corrupti reprehenderit. Sed atque aspernatur consequatur quaerat
      recusandae! Dolorum.
    </p>
  </body>
</html>
